$background: #2e2d2d;
$background2: #3f3f3f;
$border: 1px solid #383838;

$yellow: #ffd600;
$textC1: #e5e5e5;
$textC2: #232323;

body {
	background: $background;
	font-family: 'Segoe UI';
	box-sizing: border-box;
}

.calculator {
	width: 294px;
	height: 512px;
	margin: 2rem auto;
	background: #232323;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
		0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
		0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
		0 100px 80px rgba(0, 0, 0, 0.07);

	position: relative;
}

.buttonWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nonselect {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefix */
}

.button {
	width: 69px;
	height: 57px;
	background: $background2;
	border: $border;
	line-height: 57px;
	margin: 0.5px;

	font-weight: normal;
	font-size: 23px;
	text-align: center;
	color: $textC1;

	&:hover {
		filter: brightness(80%);
	}
}

#clear {
	width: 139px;
}

#equals {
	color: $textC2;
	background: $yellow;
	width: 141px;
}

.tabs {
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	color: $textC1;
	display: flex;
	> div {
		padding: 16px;
	}
}

.sin {
	color: $yellow;
}

#display {
	height: 136px;
	font-weight: normal;
	font-size: 20px;
	text-align: right;
	color: $textC1;
	padding: 24px 24px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.calculations {
	background: transparent;
	border: none;
	color: $textC1;
	font-size: 15px;
	width: 100%;
	text-align: right;
	max-width: 294px;
	word-break: break-all;
	overflow-y: scroll;
	max-height: 105px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.calculations::-webkit-scrollbar {
	display: none;
}

.result {
	color: $yellow;
}

.historyPage {
	background: $background2;
	min-height: 0;
	text-align: left;
	list-style: none;
	padding: 12px;
	overflow-x: scroll;
	overflow-y: hidden;
	transition: opacity, 0.8s ease-in-out;
	> li {
		color: $textC1;
		padding: 8px;
		border-bottom: $border;
	}
}
